.span3
  .sidebar
    ul.nav.nav-pills.nav-stacked
      li
        a(href='/about/') About
      li
        a(href='/contacts/') Contacts
      li
        a(href='/location/') Location
      li
        a(href='/members/') Members