doctype html
html(lang='en')
  head
    title About &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text About
              .row-fluid.content-container.dz_full_content
                div
                  .dz_splash_image
                    img(src='/data/about/onewwall.jpg', width='699', height='366')
                  div
                    each i in text
                      p
                        if(i.line ==='\r')
                          br
                        else
                          | #{i.line}
            include about_side
          include footer
            //img(src='/themes/sbclogo.gif')
    include scripts