doctype html
html(lang='en')
  head
    title Direction &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text
                | Members
              //h2.page-subtitle
              .row-fluid.content-container.dz_full_content
                .span10
                  div
                    div
                      p
                      h3
                        | 서준호 (C.E.O)
                      p
                        | E-mail : juno@onewwall.com
                      p &NonBreakingSpace;
                      p
                      h3
                        | 강상훈 (Editor)
                      p
                        | E-mail : stinggo@onewwall.com
                      p &NonBreakingSpace;
                      h3
                        | Guest Curators
                      p
                        | HRD Fine Art  http://www.hrdfineart.com
                      p &NonBreakingSpace;
            include about_side
          include footer
    include scripts