.row-fluid.notAffixedHeader
            .span12
              .dz-nav
                a.dz-logo.brand.no-background-hover(href='http://www.onewwall.com')
                  img(src='/themes/logo.jpg')
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                  | menu
                .nav-collapse.collapse.dz-nav-collapse
                  ul#menu-header-menu.nav.nav-pills
                    li
                      a(href='/artists/') artists
                    li
                      a(href='/exhibitions/current') exhibitions
                    li
                      a(href='/publications/') publications
                    li
                      a(href='/projects/') projects
                    li
                      a(href='/programs/') programs
                    li
                      a(href='/about/') about