doctype html
html(lang='en')
  head
    title Publications &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text
                | Programs
              h2.page-subtitle 
              .dz_splash_image
                  img(src='/data/programs/main.jpg', width='699', height='366')
              .row-fluid.content-container.dz_full_content
                h1 2014
                h4
                  a(href='/program/BYOB Seoul 공모') BYOB Seoul 공모
                h4
                  a(href='/program/Let\’s Hang Whatever You Can Carry 공모') Let’s Hang Whatever You Can Carry 공모
          include footer
    include scripts