doctype html
html(lang='en')
  head
    title Publications &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text
                | Publications
              h2.page-subtitle 
                a(href='/data/publications/오뉴월 퍼블리싱 포트폴리오_ver1_1413.pdf') click publication portfolio
              .row-fluid.content-container.dz_full_content
                .dz_splash_image
                  img(src='/data/publications/main.jpg', width='699', height='366')
                  p &NonBreakingSpace;
                  p 전시 기획과 관련한 토털 솔루션 오뉴월 퍼블리싱
                  p &NonBreakingSpace;
                  p
                    | 2013년 봄부터 에디터와 디자이너로 구성된 오뉴월 퍼블리싱을 런칭하고 Words Failed Me_Michale Klega , 비스듬한 원뿔 행동_김실비 등의 자체 타이틀 북과 도록을 만들었으며 상대성 도시 , Niva Tour 2_ Korea-Nigeria: A friendship over decade (이상 토탈 미술관), K-Note P roject (예술경영지원센터) 등의 기획전 도록, E-매거진 및 다수의 리플렛 및 포스터를 국립현대미술관, 서울시립미술관, 토탈미술관 등 에 제작 공급했습니다. 
                    |스페이스 오뉴월은 한여름의 열정으로 전시 기획과 관련한 디자인, 출판, 홍보, 컨벤션 등을 아우르는 토털 솔루션을 제공합니다. 
                  p &NonBreakingSpace;
                  p O'NewWall
          include footer
    include scripts