script(src='http://code.jquery.com/jquery.js')
script(src='http://www.davidzwirner.com/wp-content/themes/DZW3/library/bootstrap/js/bootstrap.min.js')
script(src='http://www.davidzwirner.com/wp-content/themes/DZW3/js/init.js')