/*Defaults*/

*:not(select) {
    border: none;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -moz-appearance: none;
    -o-appearance: none;
    background-color: #FFFFFF;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    font-size: 62.5%; /* 1em = 10px */
    font-family: verdana, sans-serif;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
    /*-webkit-transform: translate3d(0,0,0);*/
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, address, video {
    display: block;
}

ul, ol {
    list-style: none;
}

li:last-child {
    margin-bottom: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.last {
    margin-right: 0 !important;
}

.last-row {
    margin-bottom: 0 !important;
}

.reset {
    margin: 0 !important;
    padding: 0 !important;
}

a img {
    border: none;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

.ir {
    display: block;
    text-indent: -9999em;
    text-align: left;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: normal;
}

img {
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
}

address {
    font-style: normal;
}

.ff,
.hide-me {
    -webkit-transform: translate3d(0px,0px,0px);
    -webkit-backface-visibility: hidden;
}

.col {
    float: left;
}

.col .inner {
    margin-right: 18px;
}

.col-95 { width: 95%; }
.col-90 { width: 90%; }
.col-85 { width: 85%; }
.col-83 { width: 83.33%; }
.col-80 { width: 80%; }
.col-75 { width: 75%; }
.col-70 { width: 70%; }
.col-66 { width: 66.66%; }
.col-65 { width: 65%; }
.col-60 { width: 60%; }
.col-55 { width: 55%; }
.col-50 { width: 50%; }
.col-45 { width: 45%; }
.col-40 { width: 40%; }
.col-35 { width: 35%; }
.col-33 { width: 33.33%; }
.col-30 { width: 30%; }
.col-25 { width: 25%; }
.col-20 { width: 20%; }
.col-16 { width: 16.66%; }
.col-15 { width: 15%; }
.col-10 { width: 10%; }
.col-5 { width: 5%; }

.col-img { width: 150px; padding-right:10px; }
.block-img { margin-bottom:35px; float:left; width:100%; }

input, textarea {
    background-color: transparent;
    border: none;
}

.block {
    display: block;
}

.i-block {
    display: inline-block;
}

.hide-me {
    visibility: hidden;
    opacity: 0;
}

.loader {
    position: absolute;
    z-index: 100;
    width: 0;
    height: 0;
    overflow: visible;
    opacity: 0;
}

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
p:empty,
li:empty {
    display: none;
}

/**/

/*Core*/

.wrapper, .page-footer {
    min-width: 768px;
    max-width: 1000px;
    margin: 0 auto;
}

.page-header, .page-footer nav, .main {
    margin: 0 20px;
}

.main {
    padding-bottom: 32px;
}

.ui-page {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    z-index: 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.page-header nav {
    width: 100%;
}

.page-header, .page-footer {
    position: relative;
    z-index: 1;
    padding: 42px 0;
}

.page-footer-push {
    height: 96px;
}

.page-header nav li, .page-footer nav li {
    float: left;
    display: block;
}

.page-header nav li {
    margin-right: 1em;
}

.page-footer nav li {
    margin-right: 0.5em;
    white-space: nowrap;
}

.page-footer nav li:after {
    content: "|";
    margin-left: 0.5em;
}

.page-footer nav li:last-child:after {
    content: "";
    margin-left: 0;
}

.page-header nav .logo {
    display: block;
    width: 140px;
    height: 30px;
    background: url(../images/core/logo140_30.jpg) no-repeat center left;
}

.search {
    line-height: 100%;
}

.js #fade-me {
    visibility: hidden;
}

/**/

/*Typography*/

body {
    color: #666;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    /*letter-spacing: 0.1em;*/
}

b,
.b,
strong,
header h1,
header h2,
.button,
.back,
.search-result hgroup {
    font-family: verdana, sans-serif;
}

body,
input,
textarea,
select,
#artist header h1,
.text-image-item h2,
.exhibition-info h3,
.categorised-nav .list-heading,
.panel-heading,
.toggle {
    font-family: verdana, sans-serif;
}

i,
em {
    font-family: verdana, sans-serif;
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

b i,
strong i,
b em,
strong em,
i b,
i strong,
em b,
em strong {
    font-family: verdana, sans-serif;
}

.wrapper {
    font-size: 1.2em;
}

a,
.a {
    text-decoration: none;
    cursor: pointer;
}

a,
.a,
.search input,
.search label,
.page-header a,
.featured header h2,
.tab-set-nav .a,
.artist-list a {
    color: #666;
}

.slide.featured .text h3 {
    color: inherit;
}

a.button:hover {
    color: #fff;
}

.search label,
.page-header a,
.featured header h2,
.tab-set-nav .a,
.artist-list a {
    color: #666;
}

a:hover,
.a:hover {
    color: #333 !important;
}
.active-nav,
.active,
.active a,
.active .a,
.blink {
    color: #000 !important;
}

.main h1,
.main h3,
.accordion .active-panel .panel-heading,
.accordion .basket-total .panel-heading,
.list-heading,
a.emph,
.standard a,
.back,
#image_viewer figcaption .legend .title,
.indicator-current {
    color: #000;
}

.emph, .emph .a {
    color: #FC0102;
}

.page-header nav li,
.page-header .search {
    font-size: 1.2em;
    line-height: 12px;
}

.page-footer nav li {
    font-size: 1em;
    line-height: 16px;
}

.main h1,
.main h2 {
    line-height: 115%;
}
.main h3,
.main p,
.main ul,
.main ol,
.main address {
    line-height: 134%;
}

.main p,
.main ul,
.main ol,
.main address,
.main .phone,
.main figcaption,
.expandable h3 {
    margin-bottom: 1em;
    max-width: 40em;
}

.main .phone p,
.accordion p,
.main figcaption p,
.search-result hgroup h1,
.search-result hgroup h2 {
    margin-bottom: 0;
}

.standard h1,
.standard h2,
.standard h3,
.search-result hgroup,
header {
    margin-bottom: 1.2em;
}

.featured header h1,
.featured header h2,
.featured header h3 {
    font-size: 1.4em;
}

.featured header {
    margin-bottom: 1em;
}

.exhibition-item header {
    margin-bottom: 0;
}

.artist-list {
    font-size: 1.15em;
}

header hgroup {
    margin-bottom: 0;
}

.standard hgroup h1,
.standard hgroup h2 {
    margin-bottom: 0;
}

.standard h2,
.standard h3 {
    color: #222222;
}

.standard ol {
    list-style: decimal inside none;
}

.artist-list li {
    margin-bottom: 1em;
}

.filter-options .emph a,
.filter-options .emph a:hover,
.filter-options .emph .a, 
.filter-options .emph .a:hover {
    color: #FC0102 !important;
}

.product-info p {
    margin: 0;
}

.product-info header h3 {
    margin-top: 0.4em;
}

.basket-item .right {
    text-align: right;
}

/**/

/*Main*/

/**/

/*Components*/

.page-header .mobile-menu {
    width: 40%;
}

.mobile-menu {
    height: 18px;
    display: none;
}

.tab-set .tab-set-nav {
    max-width: 100%;
}

.tab-set .tab-set-nav li {
    float: left;
    margin-right: 1em;
}

.featured img {
    margin-bottom: 2.2em;
    margin-right: 20px;
}

.ch-accordion .featured img {
    margin-bottom: 0;
    margin-right: 0;
    
    border-bottom: white solid 11px;
    border-right: white solid 11px;
}


.featured .text {
    padding-bottom: 2.4em;
}

.featured img, .featured .text {
    display: inline-block;
    vertical-align: middle;
}

.featured .block {
    display: block;
}

.accordion {
    position: relative;
    top: -2px;
}

.accordion .panel {
    overflow: hidden;
    width: 100%;
    left: 0;
}

.accordion .panel-heading {
    position: relative;
    padding-top: 2px;
    padding-bottom: 3px;
    color: #999999;
    border-top: 1px solid #e2e2e2;
    cursor: pointer;
    line-height: 100%;
    background-image: url(../images/core/accordion.gif);
    background-repeat: no-repeat;
    background-position: right 0;
}

.really-expandable {
    margin-bottom: 1em;
    border-bottom: 1px solid #e2e2e2;
    float: left;
}

.really-expandable .toggle {
    margin-bottom: 0;
    display: block;
    max-width: none;
    color: #666;
}
.really-expandable.expanded .toggle {
    color: #000;
}

.really-expandable .text {
    padding: 0;
}
.really-expandable section {
    padding: 0.2em 0;
    border-top: 1px solid #e2e2e2;
}

.really-expandable .toggle
.accordion .panel-heading:hover {
    background-position: right -15px;
}

.expandable-icon .toggle {
    background-image: url(../images/core/accordion.gif);
    background-repeat: no-repeat;
    background-position: right 0;
}

.expandable-icon.expanded .toggle,
.accordion .active-panel .panel-heading,
.accordion .active-panel .panel-heading:hover {
    background-position: right -30px;
}

.accordion .basket {
    padding-top: 36px;
}

.accordion .no-expand .panel-heading {
    background-image: none;
    cursor: default;
}

.accordion .panel:first-child .panel-heading,
.accordion .panel.borderless .panel-heading {
    border-color: #FFFFFF;
}

.accordion .panel-inner {
    position: relative;
}

.accordion .panel-inner {
    margin: 11px 0;
}

.ch-accordion .panel-wrapper {
    margin: 7px 0;
}

.ch-accordion .panel-inner {
    margin: 0;
}

.accordion .panel-scrollpane {
    position: relative;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.js .accordion .panel-scrollpane {
    /*overflow-y: hidden;*/
    -webkit-overflow-scrolling: touch;
}

.accordion .panel-content {
    margin-right: 12px;
}

.ch-accordion .panel-content {
    margin-right: 0;
}

.ch-accordion .text {
    padding-bottom: 0;
}

/*Temporary (apply style using JS)*/
.accordion .hideable {
    display: none;
}

.ch-accordion .panel-heading {
    padding-right: 20px;
    border-color: #FFFFFF;
}

.ui-scrolllistview .ui-li-divider {
    z-index: 10;
}

.ui-scrollbar {
    position: absolute;
}

.ui-scrollbar-y {
    z-index: 1;
    top: 0;
    right: 1px;
    bottom: 0;
    width: 12px;
}

.ui-scrollbar-x {
    z-index: 1;
    right: 0;
    bottom: 1px;
    left: 0;
    height: 12px;
}

.ui-scrollbar-track {
    position: relative;
    width: 100%;
    height: 100%;
}

.ui-scrollbar-thumb {
    position: absolute;
    top: 0;
    left: 0;
}

.ui-scrollbar-y .ui-scrollbar-track {
    background: url(../images/core/scrollbar_track_y.gif) repeat-y top right;
}

.ui-scrollbar-y .ui-scrollbar-thumb {
    width: 12px;
    left: 0;
    height: 100%;
    background: url(../images/core/scrollbar_thumb_y.gif) repeat-y top right;
}

.ui-scrollbar-x .ui-scrollbar-thumb {
    width: 100%;
    height: 12px;
    bottom: 0;
}

.accordion .tiny-scrollbar .panel-scrollpane {
    overflow-y: hidden;
}

.accordion .tiny-scrollbar .panel-content {
    position: relative;
    top: 0;
    left: 0;
}

.accordion .tiny-scrollbar .ui-scrollbar-y {
    top: 0;
}

.accordion .tiny-scrollbar .ui-scrollbar-y .ui-scrollbar-thumb {
    cursor: pointer;
}

.accordion .tiny-scrollbar .ui-scrollbar.disable {
    display: none;
}

.top-button {
    position: fixed;
    z-index: 1;
    bottom: 42px;
    right: 20px;
    /*background: url(../images/core/arrow_up.gif) no-repeat center center;*/
    cursor: pointer;
}

/*channel*/

.ch-accordion .panel {
    background-color: transparent;
}

.ch-accordion .panel-heading {
    display: inline-block;
    min-width: 150px;
}

.ch-accordion .panel-scrollpane {
    height: 310px;
    /*overflow-y: hidden;*/
}

.ch-accordion .grid .col-left {
    clear: both;
}

.ch-accordion .grid .col-left .inner {
    margin-right: 9px;
}

.ch-accordion .grid .col-right .inner {
    margin-left: 9px;
    margin-right: 0;
}

.ch-accordion .text-image-item .col {
    width: 100%;
    max-width: none;
    float: none;
    margin-bottom: 14px;
}

.ch-accordion .text-image-item .col .inner {
    margin: 0;
}

.ch-accordion .text-image-item img {
    max-height: none;
    margin-bottom: 14px;
}

.ch-accordion .featured {
    /*padding-bottom: 2.4em;*/
}

.ch-accordion .featured-image {
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    margin-bottom: 2.2em;
}

/*.ch-accordion .featured-image {
    cursor: pointer;
}

.ch-accordion .panel .featured .block {
    cursor: default;
}

.ch-accordion .active-panel .featured .block {
    cursor: pointer;
}*/

/*.js .ch-accordion .featured .text {
    display: none;
}*/

.button {
    display: inline-block;
    margin-top: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #222222;
    padding: 0 6px;
    line-height: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #888888;
}

.toggle {
    display: inline-block;
}

.form-element {
    position: relative;
}

.form .form-element {
    margin-bottom: 1em;
    line-height: 140%;
}

.form .form-element input,
.search .form-element input {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #E5E5E5;
    padding: 0;
}

.search .form-element input {
    width: 168px;
}

.form .form-element input {
    font-size: 1em;
    width: 100%;
}

.form .form-element label,
.search .form-element label {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 1;
    cursor: text;
}

.form-element.focus input {
    border-color: #CCCCCC;
}

.form-element.focus label {
    opacity: 0;
}

.form-element input.error {
    border-color: #ffa5a5;
}

.form .feedback .error {
    color: #E11010;
}

.form .feedback .success {
    color: #4CB510;
}

.add-to-basket {
    margin-bottom: 1.8em;
}

.add-to-basket .form-element,
.add-to-basket .button {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.add-to-basket .form-element {
    margin-right: 4px;
}

.basket-total #total {
    margin-right: 12px;
}

.basket-total .button {
    margin-bottom: 15px;
}

#basketcount:before {
    content: "/ ";
}

.arrow-slide {
    position: absolute;
    top: 3px;
    left: 200px;
    width: 7px;
    height: 11px;
    opacity: 0;
    background: url(../images/core/arrow.gif) no-repeat center center;
}

.touch .touch-padding li {
    padding-bottom: 6px;
}

.indicator {
    margin-top: 1em;
}

.indicator p {
    float: left;
    margin-right: 6px;
}

.indicator .navigation {
    position: relative;
    float: left;
    width: 24px;
    height: 11px;
}

.indicator .navigation .navigation-prev,
.indicator .navigation .navigation-next {
    position: absolute;
    top: 2px;
    width: 11px;
    height: 11px;
    background-image: url(../images/core/image_navigation.gif);
    background-repeat: no-repeat;
    cursor: pointer;
}

.indicator .navigation .navigation-prev {
    left: 0;
    background-position: 0 0;
}

.indicator .navigation .navigation-next {
    right: 0;
    background-position: -11px 0;
}

.indicator .navigation .navigation-prev:hover {
    background-position: 0 -11px;
}

.indicator .navigation .navigation-next:hover {
    background-position: -11px -11px;
}

.featured .wc-video-player {
    margin-bottom: 2.4em;
}

/**/

/*Artists landing*/

#artist-preview {
    opacity: 0;
    position: relative;
}

#artist-preview img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

/**/

/*Detail*/

.text-image-item,
.product-item,
.image-set,
.external-item,
.button-set {
    margin-bottom: 16px;
}

.accordion ul,
.accordion ol {
    margin-bottom: 13px;
}
.categorised-nav .list-heading {
    margin-bottom: 10px;
}
.categorised-nav li {
    margin-bottom: 10px;
    line-height: 130%;
}

.accordion ul:last-child,
.accordion ol:last-child,
.text-image-item:last-child,
.product-item:last-child,
.external-item:last-child {
    margin-bottom: 0;
}

.pointer .accordion .image-item,
.tablet .accordion .image-item,
.pointer .fade {
//    opacity: 0.5;
}

.pointer a:hover .fade,
.pointer .accordion .image-item:hover,
.pointer .accordion .active .image-item {
    opacity: 1;
}

.text-image-item .col-50 {
    width: auto;
    max-width: 50%;
}

.text-image-item .inner,
.product-item .inner {
    margin-right: 8px;
}

.product-item .col-40 {
    max-width: 40%;
    width: auto;
}

.image-item img,
.product-item img {
    max-height: 105px;
}

.text-image-item img {
    max-height: 60px;
}

.product-item .right {
    float: right;
}

.product-item .right .inner {
    margin-right: 0;
}

.image-set {
    display: block;
    max-height: 105px;
    overflow: hidden;
}

.accordion .image-item img {
    cursor: pointer;
}

.text-image-item {
    min-height: 64px;
}

.product-item {
    min-height: 105px;
}

#image_viewer {
    padding-bottom: 1.1em;
}

#image_viewer .image-item {
    cursor: pointer;
}

#image_viewer img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
}

#image_viewer figcaption {
    margin-bottom: 0;
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: #FFFFFF;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
.ff();
    }

.modal .inner {
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    opacity: 0;
    background-color: transparent;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.modal.open {
    z-index: 1000;
    height: 100%;
    opacity: 1;
}

.modal .inner.ready {
    opacity: 1;
}

.modal img {
    margin: 0 auto;
    max-height: 100%;
}

.enlarge {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url(../images/core/enlarge.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.enlarge.show {
    display: block;
}

.product,
.exhibition-item {
    margin-bottom: 2.4em;
}

.product .fade {
    height: 150px;
    margin-bottom: 1em;
}

.product img,
.exhibition-item img {
    max-height: 150px;
    width: auto;
}

.exhibition-item img,
#image_viewer img {
    margin-bottom: 2.25em;
}

.detail-item {
    position: relative;
    z-index: 1;
}

.exhibition-item .fade {
    height: 117px;
    margin-bottom: 1em;
}

.current-exhibition-item .fade {
    margin-bottom: 1em;
}

.exhibition-item .fade img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
}

/**/

/*shop*/

.filterified .weighted {
    margin-bottom: 15px;
}

.filterified li {
    position: relative;
    padding-right: 20px;
}

.filterified .checkbox {
    position: absolute;
    top: 0.4em;
    right: 1px;
    width: 0.5em;
    height: 0.5em;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}

.filterified .active .checkbox {
    border-color: #222222;
    background-image: url(../images/core/check.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filterified .emph .checkbox {
    border-color: #FC0102;
}

.filterified .emph.active .checkbox {
    background-position: 0 -6px;
}

/**/

/*contact*/

#contact .colset {
    max-width: 800px;
}

/**/

/*press/news*/

article img {
    margin-bottom: 2.4em;
}

/**/

/*product*/

.product-info header {
    margin-bottom: 1.2em;
}

.basket-item {
    margin-bottom: 1.4em;
}

.basket .total {
    margin-top: 1.4em;
    padding-top: 1.3em;
    border-top: 0.1em solid #222222;
    color: #222222;
    text-transform: uppercase;
}

/**/

/* Hide the back link for non-mobile folks */
.accessible-back-button {
    display: none;
}

.video_player_wrapper {
    position: relative;
    z-index: 200;
    width: 100%;
    margin-bottom: 2.4em;
}

.video_player_wrapper object {
    position: absolute;
    top: 0;
    left: 0;
}

.video_player_wrapper img {
    width: 100%;
    height: auto;
    margin: 0;
}

.html5_player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.play-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.play-symbol-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    overflow: visible;
}

.play-symbol {
    position: absolute;
    width: 8px;
    height: 13px;
    top: -8px;
    left: -4px;
    background: url(../images/core/play_symbol.gif) no-repeat 0 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 2;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

/*Search*/

.search-category {
    max-width: 40em;
    padding-bottom: 1.2em;
    border-bottom: 1px solid #BBBBBB;
    margin-bottom: 2.4em;
}

.search-result {
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 1em;
}

.search-result:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.search-result .image-wrapper,
.search-result .result-text {
    float: left;
}

.search-result .result-text {
    padding-top: 8px;
}

.search-result .image-wrapper img {
    margin-right: 8px;
}

/**/

.locations .col {
    max-width: 200px;
}

.artist-link {
    border-top: 1px solid #E2E2E2;
}

#textitem section.col.col-80,
#artist section.col.col-80 {
    position: relative;
}

.print {
    right: 0px;
    position: absolute;
}

.social_link {
    display: inline-block;
    padding-left: 19px;
    background-image: url(../images/core/social_icons.gif);
    background-repeat: no-repeat;
}

.social_link.twitter { background-position: 0 0; }
.social_link.twitter:hover { background-position: 0 -16px; }
.social_link.facebook { background-position: 0 -32px; }
.social_link.facebook:hover { background-position: 0 -48px; }
.social_link.youtube { background-position: 0 -32px; }
.social_link.youtube:hover { background-position: 0 -48px; }

.translate-menu {
    margin-bottom: 1em;
}

.address-item {
    margin-bottom: 2em;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    border: #cccccc solid 1px;
    padding: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 1.2em;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.tooltip.show {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip span {
    color: #000000;
}

#search img {
    max-width: 50%;
}

.competition_clone {
    position: relative;
    float: right;
    left: 23px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url(../images/icons/plus.jpg);
}

.intro_red {
    color: #ff0000;
}

a, .a {
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: color;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease-in-out;
}

.form-element input {
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: border-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: border-color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: border-color;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease-in-out;
}

.checkbox {
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: border-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: border-color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: border-color;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease-in-out;
}

.fade,
.accordion .image-item,
.navigation,
.tooltip {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: opacity;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease-in-out;

}

.button,
.tc_button {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: background-color;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease-in-out;
}

.scale {
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 0.8s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: -moz-transform;
    -o-transition-duration: 0.8s;
    -o-transition-timing-function: ease-in-out;
}

.ch-accordion .panel {
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 0.8s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: -moz-transform;
    -o-transition-duration: 0.8s;
    -o-transition-timing-function: ease-in-out;
}

.modal,
.modal .inner {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: opacity;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease-in-out;
}
@media only screen and (min-width: 768px) {

}

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .date-grid .col-25 {
        width: 33%;
    }
}


/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {

    .page-header nav {
        margin-right: 2em;
    }

    .search .form-element input {
        width: 150px;
    }

    .logo-wrapper {
        float: none;
        margin-bottom: 2em;
    }

    .page-header nav .logo {
        height: 12px;
        width: 126px;
        background-image: url(../images/core/logo_small.gif);
    }
}

@media only screen and (max-width: 768px) {
    .ch-accordion .panel-scrollpane {
        height: 258px;
    }
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {

}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {

    .smartphone .wrapper,
    .smartphone .page-footer {
        min-width: 0;
        max-width: none;
    }

    .smartphone .logo-wrapper {
        float: left;
        margin-bottom: 0;
    }

    .smartphone #contact .colset .col,
    .smartphone .artist-list .col,
    .smartphone .ch-accordion .featured,
    .smartphone .ch-accordion .panel-inner,
    .smartphone .main > .col,
    .smartphone .detail-item > .col,
    .smartphone .image-set,
    .smartphone .product,
    .smartphone .film-content > .col,
    .smartphone .exhibition-item.col {
        float: none;
        width: 100%;
    }

    .smartphone .accessible-back-button {
        display: block;
    }

    .smartphone .inner,
    .smartphone .accordion .panel-content,
    .smartphone .featured img,
    .smartphone .accordion .text-image-item .fade {
        margin-right: 0;
    }

    .smartphone .text-image-item .inner {
        margin-right: 12px;
    }

    .smartphone .ch-accordion .text-image-item .inner {
        margin-right: 20px;
    }

    .smartphone .product .fade,
    .smartphone .product .shop-item-info,
    .smartphone .page-header .col {
        float: left;
        width: 50%;
    }

    .smartphone .text-image-item .col-40 {
        max-width: 40%;
        width: auto;
        float: right;
    }

    .smartphone .main {
        font-size: 1.1em;
    }

    .smartphone .featured header h1,
    .smartphone .featured header h2,
    .smartphone .featured header h3,
    .smartphone .heading,
    .smartphone .tab-panel-header,
    .smartphone .accordion .panel-heading,
    .smartphone .search-category header h1 {
        font-size: 1.4em;
    }

    .smartphone .artist-list {
        font-size: 1em;
    }

    .smartphone .mobile-menu {
        display: block;
    }

    .smartphone .page-header {
        padding-top: 20px;
    }

    .smartphone .page-footer {
        padding: 20px 0;
    }

    .smartphone .page-footer-push {
        height: 5.2em;
    }

    .smartphone .wrapper {
        margin-bottom: -5.2em;
    }

    .smartphone .page-header nav .logo {
        height: 18px;
    }

    .smartphone #site_navigation {
        display: none;
    }

    .smartphone .page-header .search {
        display: none;
    }

    .smartphone .smartphone-hide,
    .smartphone .tab-set-nav,
    .smartphone #exhibition .side-nav,
    .smartphone #exhibition_archive .side-nav,
    .smartphone #archive .side-nav {
        display: none;
    }

    .smartphone #exhibition_archive .past {
        display: block;
    }

    .smartphone .ch-accordion .panel-scrollpane {
        height: auto;
    }

    .smartphone #contact .colset .col,
    .smartphone .detail-item .viewer,
        /*.smartphone .accordion .panel,*/
    .smartphone article {
        margin-bottom: 2em;
    }

    .smartphone .detail-item .viewer {
        padding-bottom: 16px;
    }

    .smartphone .accordion .panel,
    .smartphone .detail-item .viewer,
    .smartphone article,
    .smartphone .tab-panel {
        border-bottom: #E5E5E5 solid 1px;
        margin-bottom: 16px;
    }

    .smartphone .main .search {
        float: none;
    }

    .smartphone .main .search,
    .smartphone .search-header {
        margin-bottom: 2.4em;
    }

    .smartphone .accordion .panel-heading,
    .smartphone .tab-panel-header {
        margin-bottom: 1em;
        line-height: 140%;
    }

    .smartphone .accordion .panel-heading {
        color: #222222;
        background-image: none;
        border: none;
        padding: 0;
    }

    .smartphone .accordion .panel-inner {
        padding: 0;
    }

    .smartphone .image-set {
        overflow: visible;
        max-height: none;
    }

    .smartphone .image-set .image-item,
    .smartphone .categorised-nav .list-heading,
    .smartphone .current-exhibition-item,
    .smartphone .image-set .image-item img {
        margin-bottom: 1em;
    }

    .smartphone .image-set .image-item img {
        max-height: none;
    }

    .smartphone .accordion .image-set figcaption {
        display: block;
    }

    .smartphone .product .fade {
        height: auto;
        margin-bottom: 0;
    }

    .smartphone .product .fade img {
        max-width: 90%;
    }

    .smartphone .add-to-basket .form-element {
        display: block;
        margin-bottom: 1em;
    }
}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {

}

/* Retina graphics */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    .page-header nav .logo {
        background-image: url(../images/core/retina/logo.gif);
        -webkit-background-size: 100% auto;
    }

    .social_link {
        background-image: url(../images/core/retina/social_icons.gif);
        -webkit-background-size: 30px 96px;
    }

}

.ie7 .video_player_wrapper,
.ie6 .video_player_wrapper {
    height: 367px;
    max-height: auto;
}

.ie6 .wrapper,
.ie7 .wrapper,
.ie8 .wrapper,
.ie6 .page-footer,
.ie7 .page-footer,
.ie8 .page-footer {
    width: 920px;
}

.ie8 .accordion .panel-scrollpane,
.ie7 .accordion .panel-scrollpane,
.ie6 .accordion .panel-scrollpane {
    overflow-y: auto;
}

.ie6 .button,
.ie7 .button {
    display: block;
    float: left;
    margin-right: 4px;
}

.print-artist-name, .print-img, .print-caption, .print-videos {
   display: none;
}

.submission-button {
	font-size: 1.0em;
	cursor: pointer;
	border: 1px solid #666;
	padding: 2px;
	color: #000;
}