doctype html
html(lang='en')
  head
    title #{name} Artworks &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text
                a(href='http://www.davidzwirner.com/artists/carol-bove/') Carol Bove
                small b&period; 1971
              h2.page-subtitle Survey&colon; Selected Works
              .row-fluid.content-container.dz-grid
                .span10
                  ul.thumbnails
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/1/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/IN2256_8_CCCR-400x268.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/IN2256_8_CCCR-400x268.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 The Equinox
                            p 2013
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/2/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/IN2256_7_CCCR-400x266.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/IN2256_7_CCCR-400x266.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 The Equinox
                            p 2013
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/3/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0476_view7-400x267.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0476_view7-400x267.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 Prudence
                            p 2013
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/4/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0478_view13-400x267.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0478_view13-400x267.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 14
                            p 2013
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/5/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0475_view2-400x267.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0475_view2-400x267.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 Celeste
                            p 2013
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/6/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0465_view3-400x267.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0465_view3-400x267.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 Monel
                            p 2012
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/7/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0479_view3-267x400.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0479_view3-267x400.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 Cow Watched By Argus
                            p 2013
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/8/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0480_view1-267x400.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0480_view1-267x400.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 Visible Things and Colors
                            p 2013
                    li.span4.unfloat.dz-grid-item
                      .grid-placeholder
                      a.thumbnail.hover-slider(href='http://www.davidzwirner.com/artists/carol-bove/survey/image/page/9/')
                        .dz-grid-item-holder(style='background-image:url("http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0453_VIEW2-289x400.jpg");')
                          img(src='http://www.davidzwirner.com/wp-content/uploads/2013/09/BOVCA0453_VIEW2-289x400.jpg')
                          .dz-grid-item-inner.slide-up
                            h3 Untitled
                            p 2012
                .span2
                  .pagination.pagination-centered
                    ul.non_paged_pagination
                      li.disabled
                        span.prev-arrow
                          img(src='http://www.davidzwirner.com/wp-content/themes/DZW3/styles/images/arrow_left_disabled.png')
                      li
                        a.pagination-next.next-arrow(href='http://www.davidzwirner.com/artists/carol-bove/survey/page/2/')
                          img(src='http://www.davidzwirner.com/wp-content/themes/DZW3/styles/images/arrow_right.png')
              .row-fluid
                .span10
                  .pagination.pagination-centered
                    ul.paged_pagination
                      li.disabled
                        span.prev-arrow
                          img(src='http://www.davidzwirner.com/wp-content/themes/DZW3/styles/images/arrow_left_disabled.png')
                      li.active
                        span 1
                      li
                        a(href='http://www.davidzwirner.com/artists/carol-bove/survey/page/2/') 2
                      li
                        a(href='http://www.davidzwirner.com/artists/carol-bove/survey/page/3/') 3
                      li
                        a(href='http://www.davidzwirner.com/artists/carol-bove/survey/page/4/') 4
                      li
                        a.pagination-next.next-arrow(href='http://www.davidzwirner.com/artists/carol-bove/survey/page/2/')
                          img(src='http://www.davidzwirner.com/wp-content/themes/DZW3/styles/images/arrow_right.png')
            .span3
              .sidebar
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='http://www.davidzwirner.com/artists/carol-bove/survey/') Survey&colon; Selected Works
                  li
                    a(href='http://www.davidzwirner.com/artists/carol-bove/exhibition-schedule/') Exhibition Schedule
                  li
                    a(href='http://www.davidzwirner.com/artists/carol-bove/biography/') Biography
                  li
                    a(href='http://www.davidzwirner.com/artists/carol-bove/selected-press/') Selected Press
                  li
                    a(href='http://www.davidzwirner.com/artists/carol-bove/publications/') Publications
                  li
                    a(href='http://www.davidzwirner.com/artists/carol-bove/past-exhibitions-at-dz/') Past Exhibitions at DZ
          include footer
    include scripts
