doctype html
html(lang='en')
  head
    title Exhibitions &raquo; O'NewWall
    include header
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span9
              h1.page-title.screen-adjusting-text Current Exhibitions
              h2.page-subtitle.text-normal
                Space O'NewWall
              .row-fluid.content-container.exhibition-list
                .span11
                  .row-fluid
                    .span6.two-col-item
                      a(href='http://www.davidzwirner.com/exhibition/doug-wheeler-2/', target='_self')
                        img.media-object(src='http://www.davidzwirner.com/wp-content/uploads/2013/12/featured.jpg')
                      .two-col-caption
                        dl
                          dt.text-large
                            a(href='http://www.davidzwirner.com/exhibition/doug-wheeler-2/', target='_self') Doug Wheeler
                          dd New York&colon; 537 West 20th Street
                          dd February 6 - March 29&comma; 2014
                    .span6.two-col-item
                      a(href='http://www.davidzwirner.com/exhibition/al-taylor/', target='_self')
                        img.media-object(src='http://www.davidzwirner.com/wp-content/uploads/2013/11/TAYAL0604-Layson-a-Stick-1993_featured.jpg')
                      .two-col-caption
                        dl
                          dt.text-large
                            a(href='http://www.davidzwirner.com/exhibition/al-taylor/', target='_self') Al Taylor
                          dd London&colon; 24 Grafton Street
                          dd January 30 - March 29&comma; 2014
                  .row-fluid
                    .span6.two-col-item
                      a(href='http://www.davidzwirner.com/exhibition/prints-dan-flavin-donald-judd-fred-sandback/', target='_self')
                        img.media-object(src='http://www.davidzwirner.com/wp-content/uploads/2013/11/feature.jpg')
                      .two-col-caption
                        dl
                          dt.text-large
                            a(href='http://www.davidzwirner.com/exhibition/prints-dan-flavin-donald-judd-fred-sandback/', target='_self') Group Show
                          dd Prints&colon; Flavin&comma; Judd&comma; Sandback
                          dd New York&colon; 537 West 20th Street
                          dd January 14 - March 1&comma; 2014
                    .span6.two-col-item
                      a(href='http://www.davidzwirner.com/exhibition/karla-black/', target='_self')
                        img.media-object(src='http://www.davidzwirner.com/wp-content/uploads/2014/01/ICA-KarlaBlack_featured.jpg')
                      .two-col-caption
                        dl
                          dt.text-large
                            a(href='http://www.davidzwirner.com/exhibition/karla-black/', target='_self') Karla Black
                          dd New York&colon; 519 West 19th Street
                          dd March 1 - April 12&comma; 2014
              .row-fluid
                .span10
                  .pagination.pagination-centered
            .span3
              .sidebar
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='http://www.davidzwirner.com/exhibitions-2/current-exhibitions/', target='_self') Current Exhibitions
                  li
                    a(href='http://www.davidzwirner.com/exhibitions-2/upcoming-exhibitions/', target='_self') Upcoming Exhibitions
                  li
                    a(href='http://www.davidzwirner.com/exhibitions-2/past-exhibitions/', target='_self') Past Exhibitions
                  li
                    a(href='http://www.davidzwirner.com/exhibitions-2/global-exhibitions/', target='_self') Global Exhibitions
          include footer
    include scripts
