.row-fluid.footnav-row
  .span12
    .footnav
      span.dz-copyright &copy; 2014 O'NewWall&comma; Seoul
      span.dz-social
        | follow us&colon;
        a.social-btn.facebook(href='https://www.facebook.com/onew.wall', data-toggle='tooltip', title='facebook', target='_blank')
        a.social-btn.twitter(href='https://twitter.com/onew.wall', data-toggle='tooltip', title='twitter', target='_blank')
        a.social-btn.subscribe(href='mailto:onewwall@onewwall.com', sl-processed='1', data-toggle='tooltip', title='mail', target='_blank')
