doctype html
html(lang='en')
  head
    title Home &raquo; David Zwirner
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(name='description', content='Representing over forty artists and estates, David Zwirner is a contemporary art gallery active in both the primary and secondary markets. Since opening its doors in 1993, it has been home to innovative, singular, and pioneering exhibitions across a variety of media and genres. The gallery has helped...')
    meta(name='keywords', content='David Zwirner, New York, London, Chelsea, Art, Art Gallery, Gallery, Contemporary, Zwirner')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='generator', content='WordPress 3.5.2')
    meta(name='framework', content='Alkivia Framework 0.8')
    
    link(rel='stylesheet', href='/themes/style.css?v=1', media='screen')
    link(rel='stylesheet', href='/plugins/dropdown-menu-widget/css/shailan-dropdown.css', type='text/css')
    link#jquery.slimbox-css(rel='stylesheet', href='/plugins/slimbox/stylesheets/jquery.slimbox.css?ver=2.03', type='text/css', media='all')

    script(type='text/javascript', src='/js/jquery.js?ver=1.8.3')
    script(type='text/javascript', src='/plugins/slimbox/javascript/jquery.slimbox.js?ver=2.03')
    script(type='text/javascript', src='/plugins/dropdown-menu-widget/scripts/include.js?ver=1.9.2')
    script(type='text/javascript') jQuery(document).ready(function($){ var select = $('a[href$=".bmp"],a[href$=".gif"],a[href$=".jpg"],a[href$=".jpeg"], a[href$=".png"],a[href$=".BMP"],a[href$=".GIF"],a[href$=".JPG"],a[href$=".JPEG"],a[href$=".PNG"]'); select.slimbox();});
    
    style(type='text/css', media='all')
      ul.dropdown li a { font-family:'Avenir'; }
      ul.dropdown li a { font-size:1em; }
      ul.dropdown { white-space: nowrap; }
      .shailan-dropdown-menu .dropdown-horizontal-container, ul.dropdown li, ul.dropdown li.hover, ul.dropdown li:hover, ul.dropdown li.hover a, ul.dropdown li:hover a { background-image:none; }
      .shailan-dropdown-menu .dropdown-horizontal-container, ul.dropdown li{ background-color:#FFFFFF; }
      ul.dropdown a:link,
      ul.dropdown a:visited,
      ul.dropdown li { color: #999; }
      ul.dropdown a:hover,
      ul.dropdown li:hover { color: #000000; }
      ul.dropdown a:active  { color: #000000; }
      ul.dropdown li.hover a, ul.dropdown li:hover a{ background-color: #ffffff; }
      ul.dropdown li.hover ul li, ul.dropdown li:hover ul li{ background-color: #FFFFFF; color: #999; }
      ul.dropdown li.hover ul li.hover, ul.dropdown li:hover ul li:hover { background-image: none; }
      ul.dropdown li.hover a:hover, ul.dropdown li:hover a:hover { background-color: #ffffff; }
      ul.dropdown ul{ background-image:none; background-color:#FFFFFF; border:1px solid #FFFFFF; }
      ul.dropdown-vertical li { border-bottom:1px solid #ffffff; }
      /* Reset */
      div.shailan-dropdown-menu table, div.shailan-dropdown-menu tbody, div.shailan-dropdown-menu tr, div.shailan-dropdown-menu td, div.shailan-dropdown-menu ul, div.shailan-dropdown-menu li, div.dropdown-horizontal-container, ul.dropdown * { margin:0; padding:0; border:0; }
      .dropdown-horizontal-container{ width:100%; }
      /* Remove list styling */
      ul.dropdown, ul.dropdown li, ul.dropdown ul { list-style: none; margin: 40 0; padding: 0; background: #fff; }
      /* Z-index */
      ul.dropdown, ul.dropdown li, ul.dropdown ul li, ul.dropdown li.hover, ul.dropdown li:hover { position: relative; }
      ul.dropdown li { /*z-index: 598;*/}
      ul.dropdown ul { position:absolute; z-index: 597; }
      ul.dropdown ul li { z-index: 598; }
      ul.dropdown li.hover, ul.dropdown li:hover{ cursor: default; }
      /* Top level */
      ul.dropdown li { font-weight: normal; text-transform: lowercase; margin-top: 4px; display:inline; vertical-align: bottom; zoom:1; color: #999; }
      ul.dropdown > li { float:left; }
      ul.dropdown li a{ color: #333; padding: .3em .8em; text-transform: lower;  }
      /* Sub levels */
      ul.dropdown ul { text-transform: lower; position: absolute; top: 0; left: 0px; background: #fff;}
      ul.dropdown ul li { float: none; display: inline; list-style: none;text-transform: lower;  }
      ul.dropdown ul ul { top: 1px; left: 99%; }
      ul.dropdown a:active, ul.dropdown a:focus { outline-style:none; }
      * html ul.dropdown li { height: 1px; }
      /* IE Submenu margin fix */
      ul.dropdown ul li, ul.dropdown-vertical { margin-left: -16px; mar\gin-left: 0; }
      /* Hide submenus */
      ul.dropdown ul, ul.dropdown li.hover ul ul, ul.dropdown li.hover ul ul ul, ul.dropdown li.hover ul ul ul ul, ul.dropdown li.hover ul ul ul ul ul, ul.dropdown ul, ul.dropdown li:hover ul ul, ul.dropdown li:hover ul ul ul, ul.dropdown li:hover ul ul ul ul, ul.dropdown li:hover ul ul ul ul ul { display: none; }
      ul.dropdown ul ul ul ul ul ul { display: none !important; }
      /* Vertical menu support */
      ul.dropdown-vertical { /*width: 240px;*/ }
      ul.dropdown-vertical ul { top: 1px; left: 99%; }
      ul.dropdown-vertical li { float: none; display:block; }
    // /Dropdown Menu Widget Styles
  body
    .container
      .row
        .span10.offset1.main-column
          include menu
          .row-fluid.main-content
            .span12
              #dzCarousel.carousel.slide
                // Carousel items
                .carousel-inner
                  .item.active
                    .carousel-image
                      a(href='/exhibition/doug-wheeler-2/')
                        img(src='#{img_src}', width='800')
                    .carousel-caption
                      h3
                        a(href='/exhibition/doug-wheeler-2/') #{artist_name}
                      each line in memo
                        h4 #{line.text}
                // Carousel nav
                  <a class="carousel-control left" href="#dzCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#dzCarousel" data-slide="next">&rsaquo;</a>
          include footer
    include script_src
    
