.row-fluid.notAffixedHeader
            .span12
              .dz-nav
                a.dz-logo.brand.no-background-hover(href='http://www.davidzwirner.com')
                  img(src='http://www.davidzwirner.com/wp-content/themes/DZW3/styles/images/DZlogo.png')
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                  | menu
                .nav-collapse.collapse.dz-nav-collapse
                  ul#menu-header-menu.nav.nav-pills
                    li
                      a(href='http://www.davidzwirner.com/artists/') artists
                    li
                      a(href='http://www.davidzwirner.com/exhibitions-2/') exhibitions
                    li
                      a(href='http://www.davidzwirner.com/publications/') publications
                    li
                      a(href='http://www.davidzwirner.com/fairs/upcoming/') fairs
                    li
                      a(href='http://www.davidzwirner.com/search/') search
                    li
                      a(href='http://www.davidzwirner.com/about/introduction/') about&sol;contacts